# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.env.local
.venv

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
/static/
/media/

# Archivos sensibles
settings_local.py
*.pem
*.key

# IDE
.vscode/
.idea/
*.swp
*.swo